/*font-family: 'Montserrat', sans-serif;*/
html {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	background: #F5F6F8;
}
body {
	overflow-x: hidden;
}
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 6rem;
	color: #000;
	text-transform: uppercase;
}
p, h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #232323;
	text-transform: uppercase;
}
p {
	font-size: 1.167rem;
	opacity: 0.5;
	text-transform: none;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #232323;
	font-size: 1.167rem;
	
}
h4 {
	font-size: 0.9167rem;
}
ul {
 	list-style: none;
}
a {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}
.header {
	background: url(../img/bg-top.jpg), no-repeat center top;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.header-top {
	padding-top: 52px;
	width: 100%;
}
.header-top-nav {
	display: flex;
	justify-content: flex-end;
	
}
.header-top-nav__item a{
	margin-left: 30px;
	font-weight: 700;
	opacity: 0.5;
 	color: #232323;
}
.header-top-nav__item a:hover {
	opacity: 1;
}
.header-title {
	padding-top: 224px;
	padding-bottom: 30px;
	line-height: 1em;
}
.header-text {
	padding-bottom: 350px;
}
.features {
	padding: 150px 0 128px 0;
	text-align: center;
	background-color: #F5F6F8;	
}
.features-block {
	display: inline-flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 80%;
}
.features-block__icon-wraper {
	display: inline-flex;
	height: 100%;
}
.features-block__icon {
	display: block;
	margin: auto;
}
.features-block__header {
	display: inline-block;
	margin: auto;
}
.features-block__header-wraper {
	display: inline-flex;
	height: 100%;
	margin: 30px 0 30px 0;
}
.features-block__header-span {
	background-color: #26e6e6;
	color: #fff;
	font-size: 11px;
	font-weight: 400;
	padding: 5px 10px;
	letter-spacing: 1px;
	-webkit-border-radius: 50px;
	        border-radius: 50px;
	
}

.features-block__text {
	margin: 0;
}
a.features-block__link {
	margin-top: 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: 500;
}
/*Iphone section*/
.iphone {
	background: #26E6E6;
	padding: 76px 0 40px 0;
}
.iphone-image {
	position: relative;
}
.iphone-content {
	width: 385px;
	margin-top: 42px;
	background: #fff;
	padding-top: 40px;
	position: relative;
	left: 80px;
	
	
}
.iphone-block {
	display: flex;
	justify-content: space-between;
	margin: 0 40px 40px 50px;
	
}
.iphone-block__icon {
	display: block;
	margin: auto;
	margin-top: 0;
}
.iphone-block__overflow {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 25px;
	padding-top: 10px;
	
}
.iphone-block__header {
	width: 95%;
	text-transform: none;
	font-size: 18px;
	font-weight: 500;
}
.iphone-block__text {
	font-size: 14px;
}
.iphone-block__link {
	width: 100%;
	height: 100%;
	padding: 25px 145px;
	background: #000;
	text-align: center;
}
.iphone-block__link a{
	text-decoration: none;
	color: #fff;
}
.buildit-header {
	text-align: center;
	padding-top: 120px;
	padding-bottom: 120px;
}
.buildit-header__title {
	text-transform: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 72px;
	font-weight: 200;
	text-align: center;
}
.buildit-header__text {
	display: block;
	margin: 0 auto;
	width: 42%;
	text-transform: none;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	align-self: center;
}
.buildit-content {
	background: #F5F6F8;
	position: relative;
}

.buildit-content__block {
	width: 70%;
	height: 100%;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	justify-content: space-between;
	padding-top: 110px;
	padding-bottom: 100px;
}
.buildit-content__block.center {
	margin-left: 45px;
}
.buildit-content__block.right {
	margin-left: 58px;
}
.buildit-content__title {
	display: block;
	text-transform: none;
	font-weight: 600;
	margin: 0;
}
.buildit-content__text {
	display: block;
	flex-grow: 2;
	margin-top: 25px;
	margin-bottom: 25px;
}
a.buildit-content__link {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-size: 12px;
	font-weight: 600;
}
/*buildit-ipad*/
.buildit-ipad {
	position: relative;
	width: 90%;
	left: 5%;
	margin: auto 0;
	background: #000;
}
.buildit-ipad__block {
	margin-left: 130px;
	margin-top: 80px;

	
}
.buildit-ipad__title {
	font-size: 72px;
	text-transform: none;
	color: #fff;
	font-weight: 100;
	line-height: 1.1;
}
.buildit-ipad__text {
	width: 60%;
	font-weight: 400;
	color: #FFF;
	line-height: 1.5;
	letter-spacing: 0.1px;
	margin-bottom: 165px;
	margin-left: 0;
}
.buildit-ipad__link {
	display: inline-block;
	margin-bottom: 130px;
}
a.buildit-ipad__link {
	color: #000;
	background: #26e6e6;
	padding: 21px 46px 20px;
	font-weight: 600;
	letter-spacing: 1px;
	-webkit-border-radius: 100px;
		        border-radius: 100px;	
}
.buildit-ipad__image {
	position: absolute;
	width: 105%;
	height: 105%;
	top: 100px;
	z-index: 3;
}
/*pl-features*/
.pl-features {
	padding-top: 312px;
	padding-bottom: 100px;
	background: #F5F6F8;
}
.pl-features-title {
	font-size: 12px;
	font-weight: 600;
	text-align-last: center;
}
.pl-features-subtitle {
	width: 80%;
	margin-top: 43px;
	margin-left: 10%;
	font-size: 18px;
	text-align: center;
}
.pl-features-block {
	display: flex;
	margin-top: 80px;

	
}
.pl-features-block__icon {
	margin: 10px 0 auto 0 ;
}
.pl-features-block-overflow {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 19px;	
	align-items: stretch;
}
.pl-features-block__icon.third {
	margin-left: 7px;
	margin-right: 10px;
}
.pl-features-block__title {
	height: 100%;
	font-size: 18px;
	font-weight: 500;
}
.pl-features-block__text {
	width: 79%;
	font-size: 14px;
	margin-left: 0;
}
.reviews {
	background: #F5F6F8;

	
}
.reviews-block {
	position: relative;
	margin: 0 auto;
	padding: 85px 125px 72px;
	background: #fff;
	width: 80%;

	
}
.reviews-block__text {
	font-size: 42px;
	font-weight: 200;
	opacity: 1;
	text-align: center;
}
.reviews-block__name {
	color: #000;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	opacity: 1;
	text-align: center;
}
.hooks-left {
	position: absolute;
	top: 43px;
	left: 43px;
}
.hooks-right {
	position: absolute;
	bottom: 43px;
	right: 43px;
}

/*pictures*/
.pictures {
	position: relative;
	
	background: #F5F6F8;
	padding-top: 93px;
	padding-bottom: 153px;
}
.pictures-title {
	font-size: 26px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}
.pictures-block {
	position: relative;
	display: inline-block;
	margin: 0;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
	background-position: center;
	white-space: nowrap;
}
.pictures-block a{
	position: absolute;
	padding: 16px 17px;
	background: #26e6e6;
	color: #000;
	font-weight: 600;
	letter-spacing: 1px;
	text-decoration: none;
	border-radius: 5px;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.pictures-block.hat {
	display: inline-block;
	width: 304px;
	height: 420px;
	left: -50px;
	top: -40px;
	background: url(../img/pic_hat.jpg) center no-repeat;
	
}



.pictures-block.valley {
	display: inline-block;
	width: 632px;
	height: 420px;
	left: 110px;
	margin-top: 30px;
	background: url(../img/pic_valley.jpg) center no-repeat;
}
.pictures-block.mountain {
	width: 960px;
	height: 200px;
	margin-top: 45px;
	left: 75px;
	background-image: url(../img/pic_mountains.jpg);
}
.pictures-block.workplace {
	display: block;
	position: absolute;
	left: -290px;
	top: -90px;
	width: 209px;
	height: 446px;
	background: url(../img/pic_workplace.jpg)  no-repeat;
}
.pictures-block.smoke {
	display: inline-block;
	position: relative;
	left: -30px;
	top: 54px;
	width: 468px;
	height: 420px;
	background: url(../img/pic_smoke.jpg) center no-repeat;
}
.pictures-block.room {
	display: inline-block;
	position: relative;
	left: 131px;
	top: 75px;
	width: 468px;
	height: 420px;
	background: url(../img/pic_room.jpg) center no-repeat;
}
.pictures-block.gulls {
	display: block;
	position: absolute;
	top: -427px;
	left: 1241px;
	width: 174px;
	height: 422px;
	background: url(../img/pic_gulls.jpg) center no-repeat;
}

/*PRICE*/
.price {
	background: #F5F6F8;
	
}
.price-title {

	padding-top: 62px;
	padding-bottom: 63px;
	text-align: center;
	text-transform: none;
	background-color: #FFF;
}
.price-block {
	height: 450px;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 78px;
	margin-bottom: 78px;
	padding-top: 42px;
	padding-bottom: 48px;
	text-align: center;
}
.price-block:hover {
	background: #000;
}
.price-block h4, p, a{
	margin-left: auto;
	margin-right: auto;
} 
.price-block__title {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 26px;
}
.price-block:hover .price-block__title {
	color: #FFF;
	opacity: 0.5;	
}
.price-block:hover .price-block__price {
	color: #FFF;
	opacity: 1;	
}
.price-block:hover .price-block__text {
	color: #FFF;
	opacity: 0.5;	
}
.price-block:hover .price-block__btn{
	background: #26e6e6;	
}
.price-block__price {
	font-size: 50px;
	font-weight: 900;
	opacity: 1;
	margin-bottom: 20px;
}
.price-block__text {
	width: 61%;
	-webkit-flex-grow: 2;
	        flex-grow: 2;
}
.price-block a{
	color: #000;
	font-size: 12px;
	font-weight: 600;
	background: none;
	padding: 21px 46px 20px;
	text-decoration: none;
	-webkit-border-radius: 100px;
	        border-radius: 100px;
}
/*FOOTER*/

.footer {
	position: relative;
	padding-top: 76px;	
	padding-bottom: 28px;
	background-color: #F5F6F8;
}
.footer-title {
	font-size: 90px;
	font-weight: 900;
	text-align: center;
	margin-bottom: 257px;
	line-height: 1.4;
	padding: 0;
}
.footer-block {
	position: relative;
	background: #000;
	padding: 47px 52px 49px 53px;
	margin-bottom: ;
	z-index: 5;
}
.footer-block ul {
	padding: 0;
}
.footer-block a {
	color: #FFF;
	text-decoration: none;
	opacity: 0.7;
}
.footer-block li {
	margin-bottom: 30px;
}
.footer-block:hover {
	opacity: 1;
}
.footer-left-menu :last-child {
	margin-bottom: 0;
}
.footer__made-by {
	width: 100%;
	display: block;
	font-size: 11px;
	opacity: 0.2;
	color: #fff;
	text-transform: uppercase;
	text-align: right;
}
.footer__made-by:hover {
	opacity: 1;	
}
.footer_logo-overflow {
	width: 100%;

}
.footer-block_logo {
	display: block;
	height: 40px;
	margin: 0 0 0 auto;
	opacity: 0.2;
}
.footer-block_logo:hover {
	opacity: 1;
}
a.footer__web-link {
	display: block;
	margin-top: 80px;
	margin-bottom: 17px;
	text-align: right;
	text-transform: none;
	color: #FFF;
	opacity: 0.2;
}
a.footer__web-link:hover {
	opacity: 1;
}
.footer-block-social {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
a.footer__soc-link {
	display: block;
	margin: 0;
	margin-left: 30px;
	color: #FFF;
	opacity: 0.2;
}
a.footer__soc-link:hover {
	opacity: 1;
}
.footer-bg img{
	min-width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	bottom: -80px;
	left: -100px;
}

